<meta charset="UTF-8">
<title>404 not found</title>

<link rel="stylesheet" href="/css/bootstrap.min.css">
<style>
    body {padding-top:50px; }
    body {text-align: center;}
</style>

<html lang="en">
    <body class="container">
        <div class="col-md-6 col-md-offset-3">
            <h1>404</h1>
            <h2>Your page has not be found</h2>
        </div>
    </body>
</html>

<script src="/js/jquery-3.4.1.min.js"></script>
<script src="/js/bootstrap.min.js" ></script>